In [4]:
import pandas as pd

In [18]:

df = pd.read_pickle('Str_Bench_RET.pkl')
df

           Date  Strat_Ret  Bench_Ret
0    2013-05-10  -0.014002   0.003485
1    2013-05-13   0.001498  -0.000134
2    2013-05-14   0.002526   0.010554
3    2013-05-15   0.013424   0.005685
4    2013-05-16   0.008481  -0.004601
...         ...        ...        ...
3121 2025-10-09   0.005442   0.004885
3122 2025-10-09   0.005442   0.004885
3123 2025-10-10  -0.003780  -0.002002
3124 2025-10-14  -0.005711  -0.005219
3125 2025-10-15   0.017450        NaN

[3126 rows x 3 columns]