In [2]:
import pandas as pd

In [4]:

df = pd.read_pickle('Str_Bench_RET.pkl')
df

           Date  Strat_Ret  Bench_Ret
0    2013-05-21   0.000256   0.001308
1    2013-05-22  -0.016243  -0.006663
2    2013-05-23  -0.004856  -0.003551
3    2013-05-24  -0.002945  -0.001320
4    2013-05-28   0.006070   0.007137
...         ...        ...        ...
3175 2026-01-05   0.004621   0.006621
3176 2026-01-06   0.011263   0.004918
3177 2026-01-07  -0.016555   0.003658
3178 2026-01-08   0.013365   0.002866
3179 2026-01-09   0.007669   0.007242

[3180 rows x 3 columns]

In [11]:
df = pd.read_pickle('Str_Bench_RET.pkl')
df

           Date  Strat_Ret  Bench_Ret
0    2013-05-10  -0.005697   0.003485
1    2013-05-13  -0.003797  -0.000134
2    2013-05-14   0.009163   0.010554
3    2013-05-15   0.009864   0.005685
4    2013-05-16  -0.007758  -0.004601
...         ...        ...        ...
3132 2025-10-23  -0.005286        NaN
3133 2025-10-23  -0.005286        NaN
3134 2025-10-23  -0.005286        NaN
3135 2025-10-23  -0.005286        NaN
3136 2025-10-23  -0.005286        NaN

[3137 rows x 3 columns]

In [6]:
df[df.Date >= '2025-10-23']

           Date  Strat_Ret  Bench_Ret
3131 2025-10-23   0.022509  -0.000774
3132 2025-10-23   0.022509  -0.001243
3133 2025-10-23   0.022509  -0.003275
3134 2025-10-23   0.022509   0.004069
3135 2025-10-23   0.022509   0.002231
3136 2025-10-23   0.022509   0.005652
3137 2025-10-23   0.022509  -0.006843

In [2]:
2+2

4