In [4]:
import pandas as pd

In [8]:

df = pd.read_pickle('Str_Bench_RET.pkl')
df

           Date  Strat_Ret  Bench_Ret
0    2013-05-15   0.013423   0.005685
1    2013-05-16   0.008482  -0.004601
2    2013-05-17   0.001698   0.009508
3    2013-05-20   0.007022   0.000000
4    2013-05-21   0.003669   0.001308
...         ...        ...        ...
3114 2025-10-01   0.000941   0.003576
3115 2025-10-02   0.020867   0.001106
3116 2025-10-03  -0.001719   0.000081
3117 2025-10-06   0.004871   0.003413
3118 2025-10-09   0.005766        NaN

[3119 rows x 3 columns]

In [7]:
from scipy.stats import ttest_ind, levene