In [2]:
import pandas as pd

In [3]:

df = pd.read_pickle('Str_Bench_RET.pkl')
df

           Date  Strat_Ret  Bench_Ret
0    2013-05-20   0.000000   0.000000
1    2013-05-21   0.002444   0.001309
2    2013-05-22  -0.013326  -0.006663
3    2013-05-23  -0.005792  -0.003551
4    2013-05-24  -0.002122  -0.001320
...         ...        ...        ...
3116 2025-10-08   0.011606   0.005803
3117 2025-10-09  -0.005398  -0.002699
3118 2025-10-10  -0.053768  -0.026884
3119 2025-10-13   0.016857   0.015154
3120 2025-10-14  -0.001440  -0.001411

[3121 rows x 3 columns]

In [11]:
df = pd.read_pickle('Str_Bench_RET.pkl')
df

           Date  Strat_Ret  Bench_Ret
0    2013-05-10  -0.005697   0.003485
1    2013-05-13  -0.003797  -0.000134
2    2013-05-14   0.009163   0.010554
3    2013-05-15   0.009864   0.005685
4    2013-05-16  -0.007758  -0.004601
...         ...        ...        ...
3132 2025-10-23  -0.005286        NaN
3133 2025-10-23  -0.005286        NaN
3134 2025-10-23  -0.005286        NaN
3135 2025-10-23  -0.005286        NaN
3136 2025-10-23  -0.005286        NaN

[3137 rows x 3 columns]

In [6]:
df[df.Date >= '2025-10-23']

           Date  Strat_Ret  Bench_Ret
3131 2025-10-23   0.022509  -0.000774
3132 2025-10-23   0.022509  -0.001243
3133 2025-10-23   0.022509  -0.003275
3134 2025-10-23   0.022509   0.004069
3135 2025-10-23   0.022509   0.002231
3136 2025-10-23   0.022509   0.005652
3137 2025-10-23   0.022509  -0.006843