In [4]:
import pandas as pd

In [12]:

df = pd.read_pickle('full_backtest_and_real_time.pkl')
df

            Full_Backtest  Real_Time
Date
2013-05-16       0.008481        NaN
2013-05-17       0.001699        NaN
2013-05-20       0.007021        NaN
2013-05-21       0.003669        NaN
2013-05-22       0.003397        NaN
...                   ...        ...
2025-09-26       0.003876   0.003655
2025-09-29       0.012317   0.007652
2025-09-30      -0.003965  -0.003936
2025-10-01       0.000819   0.000941
2025-10-02       0.000000   0.020867

[3115 rows x 2 columns]

In [7]:
from scipy.stats import ttest_ind, levene