In [9]:
import pandas as pd

In [6]:

df = pd.read_pickle('Str_Bench_RET.pkl')
df

           Date  Strat_Ret  Bench_Ret
0    2013-05-10  -0.014002   0.003485
1    2013-05-13   0.001498  -0.000134
2    2013-05-14   0.002526   0.010554
3    2013-05-15   0.013424   0.005685
4    2013-05-16   0.008481  -0.004601
...         ...        ...        ...
3121 2025-10-07  -0.006728  -0.003563
3122 2025-10-08   0.009380   0.005803
3123 2025-10-09  -0.003780  -0.002699
3124 2025-10-10  -0.045049  -0.026884
3125 2025-10-14   0.015391  -0.001411

[3126 rows x 3 columns]

In [11]:

df = pd.read_pickle('Str_Bench_RET.pkl')
df

           Date  Strat_Ret  Bench_Ret
0    2013-05-10  -0.005697   0.003485
1    2013-05-13  -0.003797  -0.000134
2    2013-05-14   0.009163   0.010554
3    2013-05-15   0.009864   0.005685
4    2013-05-16  -0.007758  -0.004601
...         ...        ...        ...
3132 2025-10-23  -0.005286        NaN
3133 2025-10-23  -0.005286        NaN
3134 2025-10-23  -0.005286        NaN
3135 2025-10-23  -0.005286        NaN
3136 2025-10-23  -0.005286        NaN

[3137 rows x 3 columns]

In [13]:
df[df.Date >= '2025-10-23']

           Date  Strat_Ret  Bench_Ret
3131 2025-10-23  -0.005286        NaN
3132 2025-10-23  -0.005286        NaN
3133 2025-10-23  -0.005286        NaN
3134 2025-10-23  -0.005286        NaN
3135 2025-10-23  -0.005286        NaN
3136 2025-10-23  -0.005286        NaN