In [2]:
import pandas as pd

In [6]:

pd.read_pickle('Str_Bench_RET.pkl')

           Date  Strat_Ret  Bench_Ret
0    2013-05-15   0.013423   0.005685
1    2013-05-16   0.008482  -0.004601
2    2013-05-17   0.001698   0.009508
3    2013-05-20   0.007022   0.000000
4    2013-05-21   0.003669   0.001308
...         ...        ...        ...
3110 2025-09-23   0.013167        NaN
3111 2025-09-25  -0.022916        NaN
3112 2025-09-26   0.003655        NaN
3113 2025-09-29   0.007652        NaN
3114 2025-09-30  -0.003936        NaN

[3115 rows x 3 columns]